@import '../../variables';

.check-list {
  &--item {
    padding: 1rem;
    display: flex;
    flex-direction: row;

    &-icon {
      img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;
      }
    }

    &-details {

    }
  }
}