@import '../../variables';

.form-password-field {
  &.weak {
    .form-password-field--label {
      color: $red;
    }
  
    .form-password-field--input {
      &::after {
        border-bottom-color: $red;
      }
    }
  }

  &.medium {
    .form-password-field--label {
      color: $yellow;
    }
  
    .form-password-field--input {
      &::after {
        border-bottom-color: $yellow;
      }
    }

    .form-password-field--error {
      color: $yellow;
    }
  }

  .form-password-field--icon {
    color: $primary-app-color;
  }

  .form-password-field--error {
    color: $red;
  }
}