@import '../../variables';

#error-view {
  display: flex;
  align-items: center;
  justify-content: center;

  .error-view--content {
    text-align: center;
    color: $primary-app-color;

    img {
      width: 100%;
    }
  }
}