@import '../../variables';

.app-header {
  background-color: $primary-color !important;

  &--brand {
    color: $white !important;
    flex-grow: 1;
    font-size: 1.5rem !important;
    text-align: center;

    img {
      width: 3rem;
      margin-right: 1rem;
    }
  }

  &--menu-toggle {
    display: block;
    position: relative;
    cursor: pointer;
  }

  &--notifications {

  }
}
