@import './variables';

#knotdiary-main {
  height: 100%;

  #knotdiary-main--content {
    height: 100%;

    #knotdiary-main--content-body {
      margin: 0 auto;
      max-width: 1366px;
      height: 100%;
    
      @include media(lg) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      > div {
        min-height: 300px;
      }
    }

    .knotdiary-toasts {
      .knotdiary-toasts--item {
        &.Toastify__toast--default {
          background-color: $white;
        }
        &.Toastify__toast--info {
          background-color: $blue;
        }
        &.Toastify__toast--warn {
          background-color: $yellow;
        }
        &.Toastify__toast--danger {
          background-color: $red;
        }
        &.Toastify__toast--success {
          background-color: $green;
        }
      }
    }
  }
}