@import './variables';

#gabboo-main {
  height: 100%;

  #gabboo-main--content {
    height: 100%;

    #gabboo-main--content-body {
      margin: 0 auto;
      height: 100%;

      > div {
        min-height: 300px;
      }
    }

    .gabboo-toasts {
      .gabboo-toasts--item {
        &.Toastify__toast--default {
          background-color: $white;
        }
        &.Toastify__toast--info {
          background-color: $blue;
        }
        &.Toastify__toast--warn {
          background-color: $yellow;
        }
        &.Toastify__toast--danger {
          background-color: $red;
        }
        &.Toastify__toast--success {
          background-color: $green;
        }
      }
    }
  }
}